html {
  font-size: 20px;
 }
 body {
  font-family: Arial;
 }
 h1,h2{
  font-size: 1.4rem;
  font-family: Arial;
  color: grey;
  /*border-bottom:1px solid black;*/
 }
 h1{
  font-size: 2rem;
  border-bottom:1px solid black;
 }
 p {
  /*background-color: grey;
  border: 1px solid red;*/
  color: maroon;
  font-size: 2vw;
 }
